#barra {
    height: 50.2px;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background: #069;
    color: #fff;
    text-align: center;

}

.busca {

    right: 105px;
    width: 500px;
    position: absolute;
    top: 58px;
}

#login {
    right: 105px;
    position: absolute;
    cursor: pointer;

}

a {
    color: inherit;
    text-decoration: none;
}

.novo {
    left: 106px;
    position: absolute;
    top: 60px;
    width: 300px;
    background-color: #006699;
    color: #ffffff;

}

#divLogin {
    background-color: #1992b7;
    width: 380px;
    height: 260px;
    margin: 140px auto 0px;
    border-radius: 5px;
}

#login-box-interno {
    width: 360px;
    height: 240px;
    background-color: #fdfdfd;
    position: absolute;
    margin: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
    overflow: hidden;
}

#login-box-label {
    background: #fafbfc;
    background: -moz-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fafbfc), color-stop(100%, #ecf1f4));
    background: -webkit-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
    background: -o-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
    background: -ms-linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
    background: linear-gradient(top, #fafbfc 0%, #ecf1f4 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fafbfc', endColorstr='ecf1f4', GradientType=0);
    height: 45px;
    text-align: center;
    font: bold 14px/45px sans-serif;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom: 1px solid #bfc3c5;
    box-shadow: 1px 0px 3px #dedede;
    color: #555555;
    text-shadow: 1px 0px 1px white;

}

.input-div {
    margin: 20px;
    padding: 5px;
    background-color: #f2f5f7;
    border-radius: 3px;
}

.input-div input {
    width: 310px;
    height: 35px;
    padding-left: 5px;
    font: normal 13px sans-serif;
    color: #aeaeae;
    border-radius: 3px;
    border: 1px solid #bfc4c6;
    outline: none;
}

.input-div:hover {
    background-color: #e0f1fc;
}

.input-div:hover input {
    boder-color: #7dc6dd;
}

#input-senha {
    margin-top: -10px;
}

#botoes {
    width: 310px;
    margin-left: 25px;
}

.botao {
    background-color: #ecf1f4;
    float: right;
    padding: 5px 15px;
    font: bold 12px sans-serif;
    border-radius: 20px;
    text-shadow: 0px 1px 0px white;
    border: 2px solid #9eb9c3;
    color: #527988;
    box-shadow: 0px 0px 10px #c9c9c9;

}

.botao:hover {
    cursor: pointer;
}

#lembrar-senha {
    font: normal 12px sans-serif;
}

.menu {
    list-style: none;
    float: left;
    top: 10px;
    position: fixed;
}

.menu li {
    position: relative;
    float: left;
    border-right: 1px solid #c0c0c0;
    top: -2px;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    padding: 4px 10px;
    display: block;
}

.menu li a:hover {
    background: #fff;
    color: #333;

}

.menu li ul {
    position: absolute;
    top: 25px;
    left: 0;
    background-color: #069;
    display: none;
}

.menu li:hover ul, .menu li.over ul {
    display: block;
}

.menu li ul li {
    border: 1px solid #c0c0c0;
    display: block;
    width: 150px;
}

.titulo {
    text-align: center;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;

}

.campo {
    border: 1px solid #25692A;
    border-radius: 4px;
    display: inline-block;
    font-size: 13px;
    padding: 6px 10px;
    text-decoration: none;
    width: 310px;
    margin-right: 200px;
}

.txt {
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    display: inline-block;
    text-align: right;
    width: 200px;
    padding-right: 5px;
}

.btne {
    border: 1px solid #25692A;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    width: 250px;
    background-color: #fff;
}

.btne:hover {
    cursor: pointer;
    background-color: lawngreen;
}

.btns {
    border: 1px solid #25692A;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    width: 250px;
    background-color: #fff;

}

.btns:hover {
    cursor: pointer;
    background-color: orangered;
}
.ticket{
    text-align: center;
    background-color: #FAEBD7;
}

.ticket2{
    text-align: center;
    background-color: #FFE4C4;
}
.fechado{
    background-color: #90EE90;
}

.aberto{
    background-color: #F08080;
}

.responder:hover{
    cursor: pointer;
    background-color: aqua;
}

tr.border_bottom td {

    background-color: gainsboro;
}
.abrir{
}
.abrir:hover{
    background-color: #90EE90;
    cursor: pointer;
}

.excluir{
}
.excluir:hover{
    background-color: #F08080;
    cursor: pointer;
}

.listarTopicos{
    color:#333;
    font-size: 18px;
    font-family: 'DejaVu Serif', Georgia, "Times New Roman", Times, serif;
    text-align: center;
    border: 1px solid #25692A;
    border-radius: 4px;
    display: inline-block;
    padding: 6px 10px;
    text-decoration: none;
    width: 100%;
    background-color: #dedede;
}

.linkCor:hover{
    cursor: pointer;
    background-color: lawngreen;
}